.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-main{
  background-color: #0a0250;
  min-height: 100vh;
  padding: 5vw;
}

.App-header {
  background-color: #57007e;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logincheck {
  background-color: #ffd5bd;
  min-height: 40vh;
}

.App-footer {
  background-color: #57007e;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

}

.App-link {
  color: #09d3ac;
}

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }
.item6 { grid-area: nav; }
.item7 { grid-area: details; }
.item8 { grid-area: list; }

.App-grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'main main main main main main'
    'footer footer footer footer footer footer';
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.Main-grid-container {
  display: grid;
  grid-template-areas:
    'list nav nav nav nav nav'
    'list details details details details details'
    'list details details details details details';
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}